extends layout 

block content

    h1 Category: #{category.name}

    div(style='margin-left:20px;margin-top:20px')

        h4 Watches 

        dl
            each watch in category_watches
                dt
                    a(href=watch.url) #{watch.name}
                dd  #{watch.description}

            else 
                p There are no watches in this category
        hr
        p 
            a(href=category.url+'/delete') Delete Category
        p 
            a(href=category.url+'/update') Update Category
